azure_storage==0.37.0
beautifulsoup4==4.13.4
boto3==1.40.1
colorama==0.4.6
cryptography==45.0.5
dnspython==2.7.0
fuzzywuzzy==0.18.0
matplotlib==3.10.5
numpy==2.3.2
progress==1.6.1
protobuf==6.31.1
python-dotenv==1.1.1
python_nmap==0.7.1
reportlab==4.4.3
Requests==2.32.4
scipy==1.16.1
seaborn==0.13.2
selenium==4.34.2
tqdm==4.67.1
